<div class="operators--container">
    <mat-card class="title-container">
        <mat-card-title>MultiCasting Operators</mat-card-title>
    </mat-card>
    <rxt-operator-block title="multicast"
        description="Returns an Observable that emits the results of invoking a specified selector on items emitted by a ConnectableObservable that shares a single subscription to the underlying stream."
        reference="multicast(selector: Function): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="publish"
        description="Returns a ConnectableObservable, which is a variety of Observable that waits until its connect method is called before it begins emitting items to those Observers that have subscribed to it."
        reference="publish() : ConnectableObservable">
    </rxt-operator-block>
    <rxt-operator-block title="share"
        description="Returns a new Observable that multicasts (shares) the original Observable. As long as there is at least one Subscriber this Observable will be subscribed and emitting data. When all subscribers have unsubscribed it will unsubscribe from the source Observable. Because the Observable is multicasting it makes the stream hot."
        reference="share(): Observable">
    </rxt-operator-block>
</div>
          