@import '~@angular/material/theming';

.value-block--card {
    height: 32px;
    width: 32px;
    @include mat-elevation(6);
    margin: 12px;
    padding: 12px !important;
}

.value-block--card--content {
    height: 100%;
    width: 100%;
    align-content: center;
}

.value-block--card--content--span {
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
}