<mat-card class="value-block--card">
    <mat-card-content class="value-block--card--content">
        <span class="value-block--card--content--span">{{ value }}</span>
    </mat-card-content>
</mat-card>