<mat-toolbar class="toolbar" color="accent">
    <span class="toolbar--title">RxJS Training Classroom</span>
    <button class="toolbar--button" mat-button (click)="handleHomeClicked($event)">Home</button>
    <button class="toolbar--button" mat-button (click)="handlePatternsClicked($event)">Patterns</button>
    <button class="toolbar--button" mat-button routerLink="/observable">Observable</button>
    <button class="toolbar--button" mat-button routerLink="/subject">Subject</button>
    <button class="toolbar--button" mat-button routerLink="/operators">Operators</button>

    <!-- <button class="toolbar--button" mat-button [matMenuTriggerFor]="menu">Operators</button>
        
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleTransformationClicked($event)">Transformation</button>
        <button mat-menu-item (click)="handleFilteringClicked($event)">Filtering</button>
        <button mat-menu-item (click)="handleMathematicalClicked($event)">Mathematical</button>
    </mat-menu> -->
</mat-toolbar>
<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" ></router-outlet>
</div>  