<mat-card>
  <mat-card-header>
    <mat-card-title>Patterns</mat-card-title>
    <mat-card-subtitle> RxJS is built around the Observer Pattern. The observer pattern is a software design pattern
      where the a subject contains a collection of depedents (called observers), and when the state of the subject
      changes, it will automatically notify any attached observer (typically by calling a pre-defined method on the observer).</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    The Observer pattern became popular in the implementation of event handling systems (using, but not limited to,
    user-interface based
    programs).
    <br><br>

    At its core, the observer pattern is designed to allow you to build a one-to-many relationship between objects while
    maintain loose
    coupling.
    <br><br>

    <pre><code class="language-liquid">Special Note:</code></pre> The observer patterns has a tendency to cause memory leaks if observers are not properly disposed.
    Subjects will maintain
    a strong reference of all observers. If not specifically disposed, the subjects can inadvertently keep the observer
    alive via a weak reference.
  </mat-card-content>


</mat-card>
