<mat-card class="operation--card">
    <mat-card-header>
        <div class="operation--card--header">
            <span class="operation--card--header--title">{{ title }}</span>
            <span class="operation--card--header--description">{{ description }}</span>
            <pre><code [highlight]="reference"></code></pre>
            <!-- <span class="operation--card--header--reference">{{ reference }}</span> -->
        </div>
    </mat-card-header>
    <mat-card-content *ngIf="sourceItems">
        <div class="operation--card--content">
            <div class="operation--card--content--source">
                <rxt-value-block *ngFor="let i of sourceItems" [value]="i"></rxt-value-block>
            </div>
            <div class="operation--card--content--source" *ngIf="secondarySourceItems !== undefined">
                    <rxt-value-block *ngFor="let i of secondarySourceItems" [value]="i"></rxt-value-block>
            </div>
            <div class="operation--card--content--actions">
                <span class="operation--card--content--actions--description">{{ action }}</span>
                <!-- <div class="filler"></div> -->
                <button class="operation--card--content--actions--button" mat-raised-button color="primary" (click)="handleExecuteClicked($event)">Execute</button>
                <button class="operation--card--content--actions--button" mat-raised-button color="primary" (click)="handleSlowItDownClicked($event)">Slow it Down</button>
                <button class="operation--card--content--actions--button" mat-raised-button color="primary" (click)="handleClearClicked($event)">Clear</button>
            </div>
            <div class="operation--card--content--results">
                <rxt-value-block *ngFor="let r of results" [value]="r"></rxt-value-block>
            </div>
        </div>
    </mat-card-content>
</mat-card>