.operation--card {
    margin: 10px;
}

.operation--card--header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.operation--card--header--title {
    font-size: 24px;
    margin-left: 12px;
    margin-bottom: 12px;
}

.operation--card--header--description {
    font-size: 18px;
    font-style: italic;
    margin-left: 30px;
    margin-bottom: 12px;
}

.operation--card--header--reference {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.operation--card--content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.operation--card--content--source {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.operation--card--content--actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 20px;
}

.operation--card--content--actions--description {
    font-size: 24px;
    margin-left: 28px;
    margin-right: 40px;
}

.operation--card--content--actions--button {
    margin-right: 6px;
    margin-bottom: 12px;
}

.operation--card--content--results {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.filler {
    flex: 100 1 auto;
}