<div class="operators--container">
    <mat-card class="title-container">
        <mat-card-title>Creation Operators</mat-card-title>
    </mat-card>
    <rxt-operator-block title="of"
        description="Creates an Observable that emits some values you specify as arguments, immediately one after the other, and then emits a complete notification."
        reference="of(...values, scheduler: Scheduler): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="from"
        description="Creates an Observable from an Array, an array-like object, a Promise, an iterable object, or an Observable-like object."
        reference="from(ish: ObservableInput, mapFn: function, thisArg: any, scheduler: Scheduler): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="fromEvent"
        description="Creates an Observable that emits events of a specific type coming from the given event target."
        reference="fromEvent(target: EventTargetLike, eventName: string, selector: function): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="timer"
        description="Creates an Observable that starts emitting after an initialDelay and emits ever increasing numbers after each period of time thereafter."
        reference="timer(initialDelay: number | Date, period: number, scheduler: Scheduler): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="throw" 
        description="Emit error on subscription."
        reference="throw(error: any, scheduler: Scheduler): Observable">
    </rxt-operator-block>

</div>
