@import '~@angular/material/theming';

@include mat-core();

$theme-app-primary: mat-palette($mat-purple);
$theme-app-accent: mat-palette($mat-green, A200, A100, A400);

$theme-app-warn: mat-palette($mat-red);

$rxt-app-theme: mat-dark-theme($theme-app-primary, $theme-app-accent, $theme-app-warn);

@include angular-material-theme($rxt-app-theme);
