<div class="operators--container">
    <mat-card class="title-container">
        <mat-card-title>Utility Operators</mat-card-title>
    </mat-card>
    <rxt-operator-block title="finalize"
        description="Returns an Observable that mirrors the source Observable, but will call a specified function when the source terminates on complete or error."
        reference="finalize(callback: () => void)">
    </rxt-operator-block>
    <rxt-operator-block title="repeat"
        description="Returns an Observable that repeats the stream of items emitted by the source Observable at most count times."
        reference="repeat(count: number): Observable">
    </rxt-operator-block>
</div>
      