<mat-card>
  <mat-card-header>
    <mat-card-title>Operators</mat-card-title>
    <mat-card-subtitle> When working with RxJS, much of your time will be spent with the various operators. There are
      dozens of operators! Some are quite simple
      to use, and others are so complex the use cases for them are very limited. This class will not cover all the
      operators, but we will go
      over many of the more commonly used operators you will come across.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Operators can be broken down into the following categories:
        <br><br>
      - <a routerLink="/creation">Creation</a>: Operators that will create/instantiate observables 
        <br><br>
      - <a routerLink="/combination">Combination</a>: Operators that combine multiple observable streams into a single observable  
        <br><br>
      - <a routerLink="/filtering">Filtering</a>: Operators that modify the steam contents via filter actions
        <br><br>
      - <a routerLink="/conditional">Conditional</a>: Operators that can modify stream contents based on conditional factors
        <br><br>
      - <a routerLink="/transformation">Transformation</a>: Operators that will transform contents of the stream
        <br><br>
      - <a routerLink="/utility">Utility</a>: Operators that provide utility actions like schedulers, repeats, timeouts
        <br><br>
      - <a routerLink="/error-handling">Error Handling</a>: Operators that will catch/throw errors
        <br><br>
      - <a routerLink="/multicasting">Multicasting</a>: Complex operators around allowing side-effects across multiple subscribers
        <br><br>
        <span class="note"><pre><code class="language-liquid">Note: </code></pre> You commonly see the method pipe() being used quite often.  Some people will find this method to be confusing and often think it is
        an operator.  It is not an operator (at least not in the traditional sense).  It is used to apply functional programming patterns by grouping
        operators together.  For those Java/.NET programmers out there, RxJS used to operate in the fluent paradigm with everything being a method on the 
        object, however, in version 6.X, they changed to a functional paradigm leveraging pipe().  </span>

    </p>
  </mat-card-content>


</mat-card>
