<div class="operators--container">
    <mat-card class="title-container">
        <mat-card-title>Conditional Operators</mat-card-title>
    </mat-card>
    <rxt-operator-block title="every"
        description="Returns an Observable that emits whether or not every item of the source satisfies the condition specified."
        reference="every(predicate: function, thisArg: any): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="iif"
        description="Decides at subscription time which Observable will actually be subscribed."
        reference="iif(condition: () => boolean, trueResult: SubscribableOrPromise = EMPTY, falseResult: SubscribableOrPromise = EMPTY): Observable">
    </rxt-operator-block>
</div>
