<mat-card>
  <mat-card-header>
    <mat-card-title>Observables</mat-card-title>
    <mat-card-subtitle> It is best to visualize an observable as a stream of data, with the most important part being
      that individual data elements can arrive
      at any time. There are times an observable will "feel" like an array of data, and in fact many of the operators
      are commonly found when
      dealing with arrays. However, an array is a fixed collection of elements, an observable is quite often a variable
      collection of elements
      with a variable lifetime.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

      Creating an observable is easy. There are a large collection of operators designed to create an observable object,
      and you can create
      them from essentially anything. A couple of examples of creating an observable include:
      <br><br>
      - Event: <pre><code highlight="const observable = fromEvent(button, 'click') // fromEvent is creational operator"></code></pre>
      <br><br>
      - Collection: <pre><code highlight="const observable = of( 1, 2, 3, 4, 5 ) // of is a creational operator"></code></pre>
      <br><br>

      However, creating an observer doesn't really do much. No data is "flowing", it is just an object listening for
      state changes. To kick
      things off, we attach a subscription:
      <br><br>
      <pre><code highlight="const observable = fromEvent(button, 'click')"></code></pre>
      <br>

      <pre><code highlight="const subscription = observable.subscribe(event => console.log(event))"></code></pre>
      <br><br>

      In the above code, every time we click button, the observable will react to the 'state change' and log the event
      to the console.
      <br><br>
      Notice we created a subscription object. This object contains a single method: <pre><code highlight="unsubscribe()"></code></pre> <br> We use this to clean
      up any unused
      references to ensure we do not create a memory leak. You will typically call the unsubscribe method when disposing
      your web component.

  </mat-card-content>


</mat-card>
