<div class="operators--container">
    <mat-card class="title-container">
        <mat-card-title>Filtering Operators</mat-card-title>
    </mat-card>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="filter"
                        description="Filter items emitted by the source Observable by only emitting those that satisfy a specified predicate"
                        reference="filter<T>(predicate: (value: T, index: number) => boolean, thisArg?: any): MonoTypeOperatorFunction<T>"
                        action="filter (x => x % 2 === 0)"
                        [function]="filterFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="find"
                        description="Emits only the first value emitted by the source Observable that meets some condition"
                        reference="find<T>(predicate: (value: T, index: number, source: Observable<T>) => boolean, thisArg?: any): OperatorFunction<T, T | undefined>"
                        action="find (x => x % 5 === 0)"
                        [function]="findFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="first"
                        description="Emits only the first value (or the first value that meets a condition) emitted by the source Observable"
                        reference="first<T, D>(predicate: ((value: T, index: number, source: Observable<T>) => boolean) | null, defaultValue?: D): OperatorFunction<T, T | undefined>"
                        action="first (x => x % 5 === 0)"
                        [function]="firstFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="last"
                        description="Emits only the last value (or the last value that meets a condition) emitted by the source Observable"
                        reference="last<T, D>(predicate: ((value: T, index: number, source: Observable<T>) => boolean) | null, defaultValue?: D): OperatorFunction<T, T | undefined>"
                        action="last (x => x % 5 === 0)"
                        [function]="lastFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="indistinctList"
                        title="distinct"
                        description="Returns an Observable that emits all items emitted by the source Observable that are distinct by comparison from previous items"
                        reference="distinct<T, K>(keySelector?: (value: T) => K, flushes?: Observable<any>): MonoTypeOperatorFunction<T>"
                        action="distinct()"
                        [function]="distinctFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="count"
                        description="Counts the number of emissions on the source and emits that number when the source completes"
                        reference="count<T>(predicate: (value: T, index: number, source: Observable<T>) => boolean): OperatorFunction<T, T | undefined>"
                        action="count()"
                        [function]="countFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="debounce"
                        description="Emits a value from the Observable only after a particular time span (determined from another Observable) has passed"
                        reference="debounce<T>(durationSelector: (value: T) => SubscribableOrPromise<any>): MonoTypeOperatorFunction<T>"
                        action="debounce (x => timer(1000))"
                        [function]="debounceFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="skip"
                        description="Returns an observable that skips the first n items emitted by the source Observable"
                        reference="skip<T>(count:number): MonoTypeOperatorFunction<T>"
                        action="skip(3)"
                        [function]="skipFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="takeLast"
                        description="Emits on the last n values emitted by the source Observable"
                        reference="takeLast<T>(count: number): MonoTypeOperatorFunction<T>"
                        action="takeLast(4)"
                        [function]="takeLastFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="takeUntil"
                        description="Emits the values emitted by the source Observable until a notifier Observable emits a value"
                        reference="takeUntil<T>(notifier: Observable<any>): MonoTypeOperatorFunction<T>"
                        action="takeUntil(timer(1000))"
                        [function]="takeUntilFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="takeWhile"
                        description="Emits the values emitted by the source Observable so long as each value satisfies a condition"
                        reference="takeWhile<T>(predicate: (value: T, index: number) => boolean, inclusive: false = false): MonoTypeOperatorFunction<T>"
                        action="takeWhile(x => x < 6)"
                        [function]="takeWhileFunction"></rxt-operator-block>
                        
    <!-- <rxt-operator-block 
                        title="debounceTime"
                        description="Discard emitted values that take less than the specified time between output.  This operator is popular in scenarios such as type-ahead where the rate of the user input must be controlled."
                        reference="debounceTime(dueTime: number, scheduler: Scheduler): Observable">
    </rxt-operator-block> -->

</div>