<mat-card>
  <mat-card-header>
    <mat-card-title>Subject</mat-card-title>
    <mat-card-subtitle> In RxJS, subjects are a bit different. They are still observables (confusing I know), but they
      are a special case of obervables. I tend to view
      subjects as a general in an army. The general will shout out orders (data) and all the members of the platoon will
      receive the orders at the
      same time. In RxJS terminology, this is referred to as 'multicasting'.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      You will not create too many subjects yourselves, but you will be leveraging them behind the scenes in many 3rd
      party libraries. If you use NGRX, for example, it leverages a subject for its primary store object.
      <br>
      <br>
      Types of subjects in RxJS include:<br>
      <br>
      - Subject: Simple and basic multicasting<br><br>
      - AsyncSubject: Emits latest value to observers upon completion<br><br>
      - BehaviorSubject: Requires an initial value and emits current value to new subscribers (NGRX Store)<br><br>
      - ReplaySubject: Emits a specific number of last emitted values (i.e. replaying) to new subscribers.<br><br>
    </p>
  </mat-card-content>


</mat-card>
