<div class="operators--container">
    <mat-card class="title-container">
        <mat-card-title>Error Operators</mat-card-title>
    </mat-card>
    <rxt-operator-block title="catchError"
            description="Catches errors on the observable to be handled by returning a new observable or throwing an error."
            reference="catchError(project : function): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="retry"
            description="Returns an Observable that mirrors the source Observable with the exception of an error. If the source Observable calls error, this method will resubscribe to the source Observable for a maximum of count resubscriptions (given as a number parameter) rather than propagating the error call."
            reference="retry(number: number): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="retryWhen"
            description="Returns an Observable that mirrors the source Observable with the exception of an error. If the source Observable calls error, this method will emit the Throwable that caused the error to the Observable returned from notifier. If that Observable calls complete or error then this method will call complete or error on the child subscription. Otherwise this method will resubscribe to the source Observable."
            reference="retryWhen(receives: (errors: Observable) => Observable, the: scheduler): Observable">
    </rxt-operator-block>
</div>
              