<div class="operators--container">
    <mat-card class="title-container">
        <mat-card-title>Transformation Operators</mat-card-title>
    </mat-card>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="map"
                        description="Applies a function to each value emitted by the Observable.  Resulting value is emitted as an Observable."
                        reference="map<T, R>(project: (value: T, index: number) => R, thisArg?: any): OperatorFunction<T, R>"
                        action="map (x => 5 * x)"
                        [function]="mapFunction"></rxt-operator-block>
    <rxt-operator-block [sourceItems]="numericItems"
                        title="reduce"
                        description="Applies an accumulator function over the source Observable and returns the accumulated result when the source completes"
                        reference="reduce<T, R>(accumulator: (acc: T | R, value: T, index?: number) => T | R, seed?: T | R): OperatorFunction<T, T | R>"
                        action="reduce ((x, y) => x + y)"
                        [function]="reduceFunction"></rxt-operator-block>
    <rxt-operator-block 
                        title="switchMap"
                        description="Maps each value to an Observable, then flattens all of the inner Observables using switch"
                        reference="switchMap(project: function: Observable, resultSelector: function(outerValue, innerValue, outerIndex, innerIndex): any): Observable">
    </rxt-operator-block>
    <rxt-operator-block 
                        title="mergeMap / flatMap"
                        description="Projects each source value to an Observable which is merged in the output Observable."
                        reference="mergeMap(project: function: Observable, resultSelector: function: any, concurrent: number): Observable">
    </rxt-operator-block>
    <rxt-operator-block 
                        title="pluck"
                        description="Maps each source value (an object) to its specified nested property."
                        reference="pluck(properties: ...args): Observable">
    </rxt-operator-block>
    <rxt-operator-block 
                        title="buffer"
                        description="Buffers the source Observable values until closingNotifier emits."
                        reference="buffer(closingNotifier: Observable): Observable">
    </rxt-operator-block>
</div>