@import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';
@import '../node_modules/highlight.js/styles/atom-one-dark-reasonable.css';


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #303030;
}

h1 {
    color: white;
}