<div fxLayout="row" fxLayoutGap="30px" class="container">
  <img fxFlex="20" src="../../assets/images/Rx_Logo-512-512.png">
  <div fxFlex="5"></div>
  <mat-card fxFlex="75">
    <mat-card-header>
      <mat-card-title>RxJS</mat-card-title>
      <mat-card-subtitle> RxJS is a library designed to make working with asynchronous and event-based software easier
        by
        using observable sequences.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      The following are some key components to RxJS: <br>
      <br>
      - <a routerLink="/observables">Observables</a> <br>
      - <a routerLink="/subject">Subjects</a> <br>
      - <a routerLink="/operators">Operators</a> <br>
      <br>
      <br>
      Using the above components in a functional paradigm will allow you to solve nearly every common asynchronous
      programming challenge.
      <br>
      <br>
      However....learning RxJS is very difficult. The API is gigantic and some of the concepts will be difficult to
      grasp in the beginning. This class is designed to provide small steps understanding RxJS and the multitude of features.
      <br><br>
      Above all else, take away one lesson from this class:
      <br>
      <br>
      While RxJS is a very powerful tool in solving a lot of problems, its complexity made cause your code to become
      difficult to read for
      other developers with less experience in RxJS. It is recommended to be deliberate with your usage of RxJS while
      ensure you provide
      maintainable code for your development team.
    </mat-card-content>


  </mat-card>
</div>
