<div class="operators--container">
    <mat-card class="title-container">
        <mat-card-title>Combination Operators</mat-card-title>
    </mat-card>
    <rxt-operator-block title="withLatestFrom"
        description="Combines the source Observable with other Observables to create an Observable whose values are calculated from the latest values of each, only when the source emits."
        reference="withLatestFrom(other: Observable, project: Function): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="merge"
        description="Creates an output Observable which concurrently emits all values from every given input Observable."
        reference="merge(input: Observable): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="combineLatest"
        description="Combines multiple Observables to create an Observable whose values are calculated from the latest values of each of its input Observables."
        reference="combineLatest(observables: ...Observable, project: function): Observable">
    </rxt-operator-block>
    <rxt-operator-block title="combineAll"
        description="Converts a higher-order Observable into a first-order Observable by waiting for the outer Observable to complete, then applying combineLatest."
        reference="combineAll(project: function): Observable">
    </rxt-operator-block>
</div>
